* {
    margin: 0;
    padding: 0;
    text-align: center;
}


.list {
    width: 600px;
    margin: 0 auto;
}

.list li {
    border: 1px solid gray;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.list button {
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}